<div class="trust-line">
  <div class="trust-line__icon">
    <img src="https://cdn.shopify.com/s/files/1/0634/8239/6854/files/trust_badge_icon_d981d16b-7c82-48bb-bb24-0c916dbc13b8.svg?v=1772022855"></img>
  </div>
  <div class="trust-line__text">
Certified in quality. Chosen for your milestone.</div>
</div>
<style>
.trust-line {
  display: flex;
  align-items: center;
  margin:10px 0px 16px;
  gap: 12px;
}

.trust-line__icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  flex-shrink: 0;
}

.trust-line__text {
  font-size: 12px;
  line-height: 1.4;
  color: #28365B;
}

/* Desktop */
@media (min-width: 768px) {
  .trust-line__icon {
    width: 48px;
    height: 48px;
  }

  .trust-line__text {
    font-size: 16px;
  }
}
</style>